@model IEnumerable<Rad301ClubsV1.Models.ClubModel.Member>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.club.ClubName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.Sname)
        </th>
      
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.club.ClubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student.Sname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
            </td>
        </tr>
    }
    </table>
